name: Continuous Integration

on: push

jobs:
    ci:
        runs-on: ubuntu-latest
        name: Continuous Integration
        steps:
            - uses: actions/checkout@v4
            
            - name: Setup Haskell
              uses: haskell-actions/setup@v2
              with:
                ghc-version: '9.12.2'
                cabal-version: 'latest'
            
            - name: Cache cabal packages
              uses: actions/cache@v4
              with:
                path: |
                  ~/.cabal/packages
                  ~/.cabal/store
                  dist-newstyle
                key: ${{ runner.os }}-cabal-${{ hashFiles('**/*.cabal', '**/cabal.project') }}
                restore-keys: ${{ runner.os }}-cabal-
            
            - name: Update cabal package index
              run: cabal update
            
            - name: Build project
              run: cabal build --enable-tests
            
            - name: Run tests
              run: cabal test --test-show-details=direct
            
            # Uncomment to enable code formatting check
            # - name: Check formatting
            #   run: |
            #     cabal install ormolu
            #     find src -name "*.hs" -exec ormolu --mode check {} \;
